<template>
  <h1><img src="/favicon.png" class="H"/>ackerer.news</h1>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.H {
  margin-left: 2px;
  margin-right: 1.25px;
  width: 26px;
  height: 27px;
}
h1 {
  margin: 3px 5px;
  font-size: 24px;
  color: #777;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  text-decoration: none;
  color: #777;
}
</style>
